<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="接口自动化测试运行结果" verbose="1" skipfailedinvocationcounts="true">

	<test name="接口-推荐" >
		<classes>
			<class name="test.trade.itemDetails.RecommendDatalistPostTest">
				<methods>
					<include name="recommendDatalist" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="接口-众包大型客货单" >
		<classes>
			<class name="test.trade.submit.GetZBDirectlyMiniShopCartGetTest">
				<methods>
					<include name="getZBDirectlyMiniShopCart" />
				</methods>
			</class>
		</classes>

	</test>

</suite>